body {
    background-color: #eaeaea;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #b0b0b0;
    margin-top: -22px;
    margin-left: -22px;
    margin-right: -8px;
    padding: 10px 15px 5px;
}

.header a {
    margin-left: 30px;
    text-decoration: none;
    color: black;
}

h1 {
    display: flex;
    justify-content: space-between;
}

h2 {
    width: 100%;
    text-align: center;
}

.float-right {
    float: right;
}

footer {
    position: absolute;
    bottom: 0;
    right: 5;
    width: 100%; /* Adjust width as needed */
}