body {
    background-color: #eaeaea;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #b0b0b0;
    margin-top: -22px;
    margin-left: -22px;
    margin-right: -8px;
    padding: 10px 15px 5px;
}

.header a {
    margin-left: 30px;
    text-decoration: none;
    color: black;
}

h1 {
    display: flex;
    justify-content: space-between;
}

h2 {
    width: 100%;
    text-align: center;
}

.float-right {
    float: right;
}

footer {
    position: absolute;
    bottom: 0;
    right: 5;
    width: 100%; /* Adjust width as needed */
}

.prlist-form {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: flex-start;
    width: 700px;
    margin-left: 25%;
}

.prlist-form input {
    margin: 5px 0px;
}

.prlist-form-repos {
    flex: 1;
}

.prlist-form-pat {
    flex: 0 0 auto;
    margin-left: auto;
    text-align: right;
}
