body {
    background-color: #b0b0b0;
}

.menu {
  display: none;
  list-style: none;
}

#menu-toggle:checked + .hamburger + .menu {
  display: block;
}

#menu-toggle {
    display: none;
}

.menu a {
    text-decoration: none;
    color: rgb(42, 74, 133);
}

h1 {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
}

.floatRight {
    float: right;
}

footer {
    position: absolute;
    bottom: 0;
    right: 5;
    width: 100%; /* Adjust width as needed */
}